.btn-submit {
    padding: .5em 1em;
    border-radius: 11px;
    background: var(--btn-painting);
    align-self: center;
    color: #E3E3E3;
    font-size: .8em;
    border: 1px solid transparent;

    transition: all .5s ease;
}

.btn-submit-light {
    padding: .5em 1em;
    border-radius: 11px;
    background: #E3E3E3;
    align-self: center;
    color: var(--indigo-color);
    font-size: .8em;
    border: 1px solid var(--indigo-color);
    
    transition: all .5s ease;
}

.btn-submit:hover, 
.btn-submit-light:hover {
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15), -10px -10px 20px 0px rgba(0, 0, 0, 0.15);
}

input {
    font-size: .85em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    color: #E3E3E3;
    margin-bottom: .7em;
    padding: .2em;
}


/* FORM SEARCH */

.search {
    font-size: 20px;
    border: 1px solid var(--black-color);
    border-radius: 4px;

    display: flex;
    align-items: center;
    padding: .3em .4em;

}

.search > svg {
    width: 1em;
    height: 1em;
    stroke: var(--black-color);
    fill: transparent;
}

.search > input {
    color: var(--black-color);
    margin-bottom: 0;
    padding: 0;
}



/* BUTTON «CALL ME» */

.call-me-pretty {
    font-size: 8px;
    width: 9em;
    height: 9em;
    border-radius: 5em;
    background-color: var(--indigo-color);

    position: fixed;

    bottom: 4.5em;
    right: 4.5em;
    z-index: 19;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.15), -10px -10px 20px 0px rgba(0, 0, 0, 0.15);
}

.call-me-pretty > svg {
    width: 4.5em;
    height: 4.5em;
    fill: var(--white-color);
}



/* BREAD CRUMBS */

.bread-crumbs {
    display: flex;
    align-items: center;
}

.bread-crumbs > .bread-crumbs-point {
    font-size: .6em;
    color: var(--black-color-50);
    transition: color .8s linear;
}

.bread-crumbs > .bread-crumbs-point::before {
    content: "|";
    padding: 0 .5em;
}

.bread-crumbs > .bread-crumbs-point:hover::before {
    content: "|";
    padding: 0 .5em;
    color: var(--black-color-50)
}

.bread-crumbs > .bread-crumbs-point:hover {
    color: var(--black-color)
}

.bread-crumbs > .bread-crumbs-point:last-child:hover  {
    color: var(--black-color-50)
}

.bread-crumbs > .bread-crumbs-point:first-child::before {
    content: "";
    padding: 0;
}


/* FORM SUBMIT */

.submit-form-title{
    color: var(--indigo-color);
    text-align: center;
    margin-bottom: 1em;
}

.submit-form > input,
.submit-form > textarea {
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
    margin: .3em 0;
    background-color: transparent;
    font-size: .8em;
    padding: .5em;
}

.submit-form > textarea {
    border: 1px solid var(--black-color);
    border-radius: 4px;
    margin-top: 1em;
}

.submit-form-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}


/* SWITCHER */

.switcher{
    padding: .2em;
    margin: .5em;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.switcher > button {
    padding: .5em .5em;
    align-self: center;
    font-size: .8em;

    border: 1px solid var(--indigo-color);

    transition: all .5s linear;

    flex-grow: 1;
}

.switcher > button:first-child {
    border-radius: 4px 0 0 4px;
}

.switcher > button:last-child {
    border-radius: 0 4px 4px 0;
}

.switcher > button[status="false"] {
    background: var(--white-color);
    color: var(--btn-painting);
}

.switcher > button[status="true"] {
    background: var(--btn-painting);
    color: var(--white-color);
}


/* CHECKBOX */

.checkbox {
    margin: .5em .7em;

    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}
  
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 6px;

    transition: all .6s ease;
}
  
.checkbox:hover input ~ .checkmark {
    background-color: rgba(9, 50, 90, 0.2);
    transition: all .6s ease;
}
  
.checkbox input:checked ~ .checkmark {
    background-color: var(--indigo-color);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox .checkmark:after {
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    border-radius: 4px;
    border: solid white;
}



/* RANGE */

.range {
    padding: .2em;
    margin: .5em .7em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.range > input {
    padding: .5em .5em;
    align-self: center;
    font-size: .8em;

    border: 1px solid var(--black-color);
    color: var(--black-color);

    transition: all .5s linear;
    width: 100%;
    margin-bottom: 0;
}

.range > input:first-child {
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

.range > input:nth-child(2){
    border-radius: 0 4px 4px 0;
}