footer {
    font-size: 20px;
    margin-left: 4.5em;
    background: linear-gradient(97deg, #242827 0%, #373737 0.01%, #181C21 100%);
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-form, .footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 3em 4.2em;
}

.footer-contacts-point {
    color: #E3E3E3;
    font-size: .7em;
    letter-spacing: -0.16px;
    padding: .5em;
    display: flex;
    align-items: center;
}

.footer-contacts-point > svg {
    width: 1em;
    height: 1em;
    stroke: #E3E3E3;
    margin-right: .5em;
}

.footer-form-title {
    font-size: 1em;
    font-weight: 500;
    color: #E3E3E3;
    padding-bottom: .7em;
    text-align: center;
}

.footer-contacts-social {
    padding: .5em;
    display: flex;
}

.footer-contacts-social > a > svg  {
    fill: #E3E3E3;
    padding-left: .4em;
    width: 2em;
    height: 2em;
}

.footer-contacts-social > a:hover {
    transform: scale(1.1);
    transition: transform 1s linear;
}

.footer-form > input {
    max-width: 50%;
    min-width: 20em;
    align-self: center;
}

@media (max-width: 930px) {
    footer {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .footer-contacts {
        grid-row: 1 / 2;
    }

    .footer-contacts-point {
        text-align: center;
    }

    .footer-contacts-social {
        order: -1;
        align-self: center;
    }

    .footer-form, .footer-contacts{
        padding: 1em 3em;
    }
}