@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');


body {
    font-family: Raleway, sans-serif;
    font-size: 20px;
	flex-grow: 1;

	display: flex;
	flex-flow: column;

	overflow-x: hidden;

}

main {
	flex-grow: 1;
    background-color: #E3E3E3;
	
}


/* .icon {
    width: 2em;
    height: 2em;
} */

