.expanded-header {
    position: fixed;
    width: 30em;
    height: 100%;
    background-color: #E3E3E3;
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.13);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 21;
    transform-origin: left;

    overflow: hidden;

    transform: translateX(-100%);
    opacity: .5;

    transition-property: transform, opacity;
	transition-duration: 1000ms, 1500ms;
    transition-timing-function: cubic-bezier(1, 0, .38, 1);
}

.expanded-header-menu-btn-menu {
    margin: 2em 2em 0 2em;
}

.expanded-header-menu-btn-menu > svg {
    width: 2em;
    height: 2em;
}

.expanded-header-show {
    transform: translateX(0);
    opacity: 1;
}

.expanded-header-menu {
    height: 4.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.expanded-header-menu > button {
    background-color: transparent;
}

.expanded-header-line {
    width: 80%;
    min-height: 2px;
    background-color: var(--black-color-50);
    align-self: flex-end;
    margin: 1em 0 ;

    /* ↓ блок для анимации */
    opacity: 0;
    transform: translateY(1em);
    transition: all 600ms linear;
}

.expanded-header-caption-big,
.expanded-header-caption-little{
    font-size: 1.55em;
    color: var(--black-color);
    text-align: center;
    letter-spacing: -0.9px;
    white-space: nowrap;
    margin-left: 20%;

    /* ↓ блок для анимации */
    opacity: 0;
    transform: translateY(1em);
    transition: all 600ms linear;
}

.expanded-header-caption-little{
    font-size: 1em;
    color: var(--black-color-50);
}

.expanded-header-nav{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    transition: all 600ms linear;
}

.expanded-header-nav-level-1,
.expanded-header-nav-level-2 {
    color: var(--black-color);
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: -0.2px;
    padding: 0.4em 0;

    /* ↓ блок для анимации */
    opacity: 0;
    transform: translateY(1em);
    transition: all 600ms linear;
}

.expanded-header-nav-level-2 {
    font-weight: 400;
    padding-left: 1em;
}

.expanded-header-stretcher {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.expanded-header-submit {
    padding: 0.4em 0;
    text-align: left;
    font-size: 1.1em;
    color: var(--black-color);
    font-weight: 500;
    letter-spacing: -0.2px;
    background-color: transparent;
    margin-left: 20%;

    display: flex;
    align-items: center;

    /* ↓ блок для анимации */
    opacity: 0;
    transform: translateY(1em);
    transition: all 600ms linear;
}

.expanded-header-submit > svg,
.expanded-header-contacts-point > svg {
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    fill: var(--black-color);
    margin-right: .5em;
    
}

.expanded-header-contacts {
    font-size: .8em;
    margin-left: 20%;
    margin-bottom: 3em;
}

.expanded-header-contacts-point {
    padding: 0.4em 0;
    display: flex;
    align-items: center;

    /* ↓ блок для анимации */
    opacity: 0;
    transform: translateY(1em);
    transition: all 600ms linear;
}

.expanded-header-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 20%;

    /* ↓ блок для анимации */
    display: none;
    opacity: 0;
    transform: translateX(1em);
    transition: all 600ms linear;
}

.expanded-header-form > input {
    color: var(--black-color);
    font-size: 1.2em;
    margin: 1em 0;
    border-bottom: 2px solid var(--black-color-50);
}

.expanded-header-form-btns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.expanded-header-form-btns > button {
    font-size: 1.05em;
}

@media (max-width: 930px) {
    .expanded-header {
        width: 100%;
    }

    .expanded-header-contacts,
    .expanded-header-submit,
    .expanded-header-caption-big,
    .expanded-header-caption-little,
    .expanded-header-menu {
        margin-right: 20%;
    }

    .expanded-header-line {
        width: 80%;
        align-self: center;
    }
    
}