.page-main-content {
    font-size: 20px;
    margin-left: 4.5em;
    display: flex;
    flex-direction: column;
}


/* CONTENT TOP */

.page-main-content-top{
    display: flex;
    height: 18em;
    overflow: hidden;
    max-width: 100%;
}

.page-main-content-top-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-main-content-top-advertising {
    width: 80%;
    flex-grow: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: anime-page-main-advertising;
    animation-duration: 4s;
}

.page-main-content-middle-coub-1 > img, 
.page-main-content-middle-coub-2 > img, 
.page-main-content-middle-coub-3 > img, 
.page-main-content-middle-coub-4 > img,
.page-main-content-top-advertising > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    position: absolute;
    z-index: 0;
}

.page-main-content-top-advertising-title {
    font-size: 1.2em;
    margin-bottom: 1em;
    z-index: 1;
    color: var(--white-color);
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 500;
    z-index: 1;

    /* backdrop-filter: blur(2px); */
    /* background-color: var(--blur-color); */

    border-radius: 5px;
    padding: .3em;
}

.page-main-content-top-advertising-more {
    font-size: 1em;
    margin-bottom: 1em;
    z-index: 1;
    color: var(--white-color);
    letter-spacing: -0.6px;
    /* background-color: var(--blur-color); */
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding: .5em 1em;
    transition: all .8s ease;

    border-radius: 11px;
    border: 1px solid transparent;
    background-color: transparent;

    text-decoration: underline;
    opacity: .8;
}

.page-main-content-top-advertising-more:hover {
    text-decoration: underline;
    opacity: 1;
}

.page-main-content-middle-coub-1::before, 
.page-main-content-middle-coub-2::before, 
.page-main-content-middle-coub-3::before, 
.page-main-content-middle-coub-4::before,
.page-main-content-top-advertising::before,
.page-main-content-bottom-video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--blur-color);
    transition: all .3s ease;

    z-index: 1;
}

.page-main-content-top-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* background-color: yellowgreen; */
}

.page-main-content-top-h-text {
    display: flex;
    flex-direction: column;
    min-width: 22em;
    /* background-color: yellow; */
    transform: translateX(5em) translateY(5em);
}

.page-main-content-top-h > .search {
    margin-bottom: .5em;
    animation-name: anime-page-main-top-search;
    animation-fill-mode: backwards;
    animation-duration: 500ms;
    animation-delay: 3000ms;

    position: absolute;
    top: 1em;
    right: 1em;
}

.page-main-content-top-h-text {
    /* transform: translateX(2em); */
    z-index: 2;
}

.page-main-content-top-h-text-header{
    font-size: 1.55em;
    color: var(--black-color);
    text-align: center;
    letter-spacing: -0.9px;
    white-space: nowrap;

    animation-name: anime-page-main-top-header;
    animation-fill-mode: backwards;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    margin: .7em 0;
}

.page-main-content-top-h-text-tagline {
    font-size: .9em;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 1em;

    animation-name: anime-page-main-top-tagline;
    animation-fill-mode: backwards;
    animation-duration: 500ms;
    animation-delay: 1500ms ;
}

.page-main-content-top-h-btn {
    animation-name: anime-page-main-top-tagline;
    animation-fill-mode: backwards;
    animation-duration: 500ms;
    animation-delay: 2000ms ;
}

/* CONTENT MIDDLE */

.page-main-content-middle {
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 14em 14em;
    padding: 0 2em;
    grid-gap: 1em;

    margin: 5em 0;
    overflow: hidden;
}

.page-main-content-middle-coub-1 {
    /* background-color: red; */
    grid-column: 1 / 5;

    animation-name: anime-page-main-top-middle-point-left;
    animation-fill-mode: backwards;
    animation-duration: 1000ms;
    animation-delay: 2000ms ;
}

.page-main-content-middle-coub-2 {
    /* background-color: green; */
    grid-column: 5 / -1;

    animation-name: anime-page-main-top-middle-point-right;
    animation-fill-mode: backwards;
    animation-duration: 1000ms;
    animation-delay: 2100ms ;
}

.page-main-content-middle-coub-3 {
    /* background-color: goldenrod; */
    grid-column: 1 / 4;

    animation-name: anime-page-main-top-middle-point-left;
    animation-fill-mode: backwards;
    animation-duration: 1000ms;
    animation-delay: 2200ms ;
}

.page-main-content-middle-coub-4 {
    /* background-color: bisque; */
    grid-column: 4 / -1;

    animation-name: anime-page-main-top-middle-point-right;
    animation-fill-mode: backwards;
    animation-duration: 1000ms;
    animation-delay: 2300ms ;
}

.page-main-content-middle-coub-1, 
.page-main-content-middle-coub-2, 
.page-main-content-middle-coub-3, 
.page-main-content-middle-coub-4 {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-main-content-middle-coub-title {
    font-size: 2em;
    z-index: 1;
    color: var(--white-color);
    letter-spacing: -0.6px;
    text-align: center;
    font-weight: 500;
    z-index: 1;

    /* backdrop-filter: blur(2px); */
    /* background-color: var(--blur-color); */

    border-radius: 5px;
    padding: .3em;
}

video::-webkit-media-controls {
    display: none;
}
  
.page-main-content-bottom{
    font-size: 1em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	min-height: 24em;

    overflow: hidden;
    position: relative;

    animation-name: anime-page-main-video;
    animation-fill-mode: backwards;
    animation-duration: 1500ms;
    animation-delay: 2300ms ;
}

.page-main-content-video {
    min-width: 100%;
    /* min-height: 100%; */
}

.page-main-content-bottom-video-container {
    position: absolute;
    z-index: 0;
    min-width: 100%;
}

.page-main-content-bottom-title{
    color: var(--white-color);
    font-size: 2em;
    font-weight: 500;

    text-align: center;

    z-index: 1;
    /* backdrop-filter: blur(2px); */
    /* background-color: var(--blur-color); */

    border-radius: 5px;
}

.page-main-content-bottom-form-video {
    z-index: 1;
    display: flex;
    padding-top: 1em;
}

.page-main-content-bottom-form-video > input,
.page-main-content-bottom-form-video > button {
    margin: 0 1em;
}

.page-main-content-bottom-form-video > input::placeholder {
    color: var(--white-color); 
}
  

@media (max-width: 930px) {
    .page-main-content-middle {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 14em);
        font-size: .7em;
    }

    .page-main-content-middle-coub-1, 
    .page-main-content-middle-coub-2, 
    .page-main-content-middle-coub-3, 
    .page-main-content-middle-coub-4 {
        grid-column: 1 / -1;
    }

    .page-main-content {
        margin: 0;
        margin-top: 4.5em;
    }

    .page-main-content-middle-coub-1,
    .page-main-content-middle-coub-3 {
        /* background-color: red; */
        margin-left: -5em;
    }

    .page-main-content-middle-coub-2,
    .page-main-content-middle-coub-4 {
        /* background-color: red; */
        margin-right: -5em;
    }

    .page-main-content-top {
        flex-direction: column;
        height: auto;
    }

    .page-main-content-top-advertising {
        width: auto;
        order: -1;
        height: 14em;
    }

    .page-main-content-top-h{
        padding-top: 4.5em;
    }

    .page-main-content-top-h, .page-main-content-top-h-text {
        min-width: auto;
    }

    .page-main-content-bottom-form-video {
        flex-direction: column;
    }

    .page-main-content-bottom-form-video > input,
    .page-main-content-bottom-form-video > button {
        margin: 1em 0;
    }

    .page-main-content-top-h-text {
        transform: translateX(0) translateY(0);
    }

    .page-main-content-bottom{
        font-size: .5em;
    }
}



@keyframes anime-page-main-advertising {
	0% {  
		transform: translate(-20%, -20%) scale(1.4);
        opacity: 0;
	} 
    30% {
        opacity: .4;
    }
	50% {
		transform: translate(0%, 0%) scale(1.1);
	} 
    100% {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}


@keyframes anime-page-main-top-header {
	0% {  
		transform: translateX(-30%) scale(1.2);
        opacity: 0;
	} 
    70%{
        opacity: 1;
    }
	100% {
		transform: translateX(0%) scale(1);
	} 
}

@keyframes anime-page-main-top-tagline {
	0% {  
		transform: translateY(-30%);
        opacity: 0;
	} 
    70%{
        opacity: 1;
    }
	100% {
		transform: translateY(0%);
	} 
}

@keyframes anime-page-main-top-search {
	0% {  
		transform: translateY(30%);
        opacity: 0;
	} 
    70%{
        opacity: .4;
    }
	100% {
		transform: translateY(0%);
        opacity: 1;
	} 
}

@keyframes anime-page-main-top-middle-point-right {
    0% {  
		transform: translateX(3em);
        opacity: 0;
	} 
    50%{
        opacity: .2;

    }
	100% {
		transform: translateY(0%) scale(1);
        opacity: 1;
	} 
}

@keyframes anime-page-main-top-middle-point-left {
    0% {  
		transform: translateX(-3em);
        opacity: 0;
	} 
    50%{
        opacity: .2;

    }
	100% {
		transform: translateY(0%) scale(1);
        opacity: 1;
	} 
}

@keyframes anime-page-main-video {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
